@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFAFA;
  color: #082A3A;
   /* background: linear-gradient(0deg, #ffffff, #96f5fc, #00e6f6, #1c5973, #041f2b);*/
}

footer {
  height: 40px;
  background-color: #041f2b;
  color: #FFF;
}

.scroll-nav{
  background-color: #FFFAFA;
  transition: background-color 0.5s ease-in-out;
}
.nav-claro{
  font-size: 1.2em;
}
.nav-claro button, .nav-claro p {
  color: #041f2b;
  text-shadow: 0px 0px 50px #082A3A;
}

.nav-oscuro {
    background-color: #041f2b;
    transition: background-color 0.5s ease-in-out;
}

nav p {
  font-size: 2rem;
  color: white;
  margin: auto;
}

span{
  color: #082A3A;
  font-weight: 600;
}


button {
  position: relative;
  border: none;
  border-radius: 12px;
  transition: .4s ease-in;
  z-index: 1;
  background-color: transparent;
  width: 140px;
  height: 50px;
  
  font-weight: 600;
  color: white;
}


  button::before, button::after {
    position: absolute;
    content: "";
    z-index: -1;
  }
  
  button::after {
    color: black;
  }
  
  .btn-Form {
    background-color: #041f2b;
  }
  
  .btn-1:hover, .btn-Form:hover {
    background: #00E6F6;
    /*box-shadow: 0 0 5px #00E6F6, 0 0 25px #00E6F6, 0 0 50px #00E6F6, 0 0 200px #00E6F6;*/
    color: black;
  }
  
  .btn-2:hover {
    /*border-color: transparent;
    border-bottom: #00E6F6;
    border-style: solid;*/
    color: #00E6F6;
  }
  
  .btn-3:hover {
    box-shadow: 10px 10px 0px #00E6F6;
    top: -5px;
    left: -5px;
    border: #00E6F6;
    border-style: solid;
  }
  
  .card {
    background: #082A3A;
    color: #fff;
  }
  

.card:hover {
    transform: translate3D(0,-1px,0) scale(1.07);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease;
    cursor: pointer;
    background: #fff;
    color: #082A3A;
  }
  
  .imgGrid {
    width: 700px;
    height: 400px;
    margin: auto;
    border-radius: 10%;
  }
  
  .imgGrid, video {
    box-shadow: 0px 0px 154px 8px rgba(4,31,43,0.64);
  -webkit-box-shadow: 0px 0px 154px 8px rgba(4,31,43,0.64);
  -moz-box-shadow: 0px 0px 154px 8px rgba(4,31,43,0.64);
  }
  
  .active {
    color: #00E6F6;
  }

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .social li
  {
    list-style: none;
  }
  .social li a
  {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
  }
  .social li a:hover
  {
    transform: scale(0.5) translateY(-15px);
  }

#experienciaText {
  font-size: 4em;
  font-weight: 400;
}

#videoHover:hover {
    transform: translate3D(0,-1px,0) scale(1.07);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease;
    cursor: pointer;
}

/*.divisor::before {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #082A3A;
  position: absolute;
  top: calc(79.5% - 3px);
  z-index: 0;
}*/

.divisor-btn {
  width: 500px;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
}

.divisor-btn button {
  background: #082A3A;
  color: #FFFAFA;
  width: 300px;
  height: 100px;
  font-size: 1.3em;
}

.divisor-btn button:hover {
  transform: translate3D(0,-1px,0) scale(1.07);
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
  cursor: pointer;
  background: #00E6F6;
  color: #082A3A;
  letter-spacing: 6px;
}